<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Audrey-NormalOblique.otf</string>
		<string>Audrey-Normal.otf</string>
		<string>Audrey-MediumOblique.otf</string>
		<string>Audrey-Medium.otf</string>
		<string>Audrey-BoldOblique.otf</string>
		<string>Audrey-Bold.otf</string>
	</array>
</dict>
</plist>
